body {
    background-color: #051D3B;
}

header {
    display: flex;
    margin: 32px;
    height: 56px;
}

input {
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
}

@media screen and (max-width: 576px) {
  header {
      margin: 16px;
  }
}