body {
    background-color: #051D3B;
    max-width: 1440px;
    margin: 0 auto;
	position: relative;
}

header {
    display: flex;
    margin: 32px;
    height: 56px;
}

.logo-container {
    height: 56px;
    overflow: hidden;
    width: 22%;
}

.logo {
    width: 145px;
}

.search {
    width: 56%;
}

input {
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    padding: 0 14px;
}

.user-container {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    width: 22%;
    justify-content: end;
}

.user {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}

@media screen and (max-width: 576px) {
  header {
      margin: 16px;
  }
}